<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Starter Pack
    body.home-page
        h1  Webpack Starter
        img(src="../img/person.jpg", alt="Person" width="200")
        a(href="detail.html") More info
        a(href="contact.html") Contact