@import './_root'
@import './_basic.css'


body
  img
    display: block
    margin: 0 auto
    margin-bottom: 15px
  a
    margin: 10px
    text-decoration: none
    color: white
    font-size: 16px

body.home-page
  background-color: #b4d455
  color: white

body.details-page
  background-color: var(--color-purple)
  color: var(--color-yellow)
  ul
    list-style-type: none
  
body.contact-page
  background-color: pink
  color: white